
h1{
	color:turquoise;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 40px
}
body{
	background-color:#e6005c;
}
img{
	margin:auto;
	display: block;
}



h2{
	font-family: 'Tillana', cursive;
	text-align: center;
	font-size: 40px;
}


